body{
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.inner-container{
    text-align: center;
}

.calculator-container{
    width: 320px;
    height: 520px;
    margin: 20px auto;
    background-color: #E0E0E0;    
}

.history-container{

    text-align: center;
    background-color: #BDBDBD;
    width: 35%;
    margin: 20px auto;
    float: right;
    display: none;
}
.show{
    display: block;
}
.shift-left{
    float: left;
}


/* height is 40px + 20margin = 60px */
#history{
    background-color: #BDBDBD;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
/* height is 60px + 20margin = 80px */
#result{
    background-color: #9E9E9E;
    height: 60px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    height: 320px;
}
tr{
    width: 100%;
    
}

td{
    width: 25%;
}
button{
    width: 60px;
    height: 60px;
    margin: 10%;
}

.btn-circle{
    border-radius: 50%;
}

#temp{
    height: 1px;
}